
	<div class="wecat">
		<div id="choice_type">
			<div class="type">支付¥100，可加30次微信，拨打30次电话</div>
			<div class="type">支付¥200，可加70次微信，拨打70次电话</div>
			<div class="type">支付¥300，可加120次微信，拨打120次电话</div>
		</div>
		<button id="affirm_btn"><a href="enter_password.html">确认支付</a></button>
	</div>
<script type="text/javascript">


	$("#affirm_btn").on("touchstart",function(){
			diapear();
			$("body").load("template/wecat_password.html");	
		});
	//点击选项，切换背景颜色
	$(".type").each(function(i){
		$(this).click(function(e){
			var e=e||event;
			e.preventdefault;
			$(this).css("background","#FD8F00").siblings().css("background","#464068 ")
		})
	})
	
</script>
<style>
body{background:#f5f5f5; padding-top:0.1rem;}

</style>