 <!-- Swiper 轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper">
            <div class="swiper-slide"><img src='images/detail1.png'></div>
            <div class="swiper-slide"><img src='images/detail2.png'></div>
            <div class="swiper-slide"><img src='images/detail3.png'></div>
            <div class="swiper-slide"><img src='images/detail4.png'></div>
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
		<div class="message-box">
			<div id="name"><p>带着微笑的王小思</p><div class="location"><span id="gender"><img src="images/details_icon_girl_default.png"/></span><span id="location">25 广东 广州</span></div></div>
			
			<span id="select_like"><img src="images/piczoom_button_like_default.png"></span>
		</div>
    </div>
	
	<!---------------------详细信息-------------------->
	<div class='main clearfix'>
		<h4 id="merit">普通话、英语、德语</h4>
		
		<h4 id="from_method">个人介绍</h4>
		<p id="saying">			我是钢琴爱好者，很喜欢旅游，经朋友介绍来到这个网站，我在广州长大，熟悉广州各处玩乐名胜，希望给同样喜欢广州的你带来不一样的广州之旅，很高兴认识你们。
		</p>
		<h4 id="using_price">导游费用500元/天</h4>
		<div class="star_status clearfix">
			<h4>导游评级</h4>
			<div  id="ev_default">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		
		</div>
		<h4>服务评价</h4>
		
		<div class="evaluate" >
			<dl>
			
				<dt>微信服务</dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
			</dl>
			<br>
			<dl>
				<dt>电话服务</dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
			</dl>
			<br>
			<dl>
				<dt>导游服务</dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dd></dd>
			</dl >
			<div class="commit" id="commit">确认评价</div>
		</div>
		
		
		
	</div>
	
	<!-----------联系导游支付------------------->
	<div class="contact">
		<div class="btnLeft" id="btn_wechat">微信聊天</div>
		<div class="btnRight" id="btn_phone">电话聊天</div>
		
		<div class="pay">
			<div class='to_pay'>
				<p>添加需支付￥2.00</p>
				<p id="wecat_pay">立即支付</p>
				<p id="buy_type">购买套餐</p>
			</div>
			
			<p class="cancel">取消</p>
		</div>

	</div>
	
	<div class="motai"></div>
    <script src="js/swiper.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->

    <script>
	
	
	wecat_pay()//跳转微信支付密码输入页面
	star();//5星评价
	banner();//sweiper轮播图
	pay();//支付弹窗
	loadBigPic();//轮播图下拉变大
	collect();//收藏导游
	 
	$('html').css("font-size",$(window).width()/750*100+"px")
		$(window).resize(function(){
		$('html').css("font-size",$(window).width()/750*100+"px")
	});

	function collect(){
		 var off=true;
		$("#select_like").on("touchstart",function(){
			if(off){
				$(this).children().attr("src","images/piczoom_button_like_selected.png");	
			}else{
				$(this).children().attr("src","images/piczoom_button_like_default.png");	
				
				};
			off=!off;
			
		});
		
	};
	$("#buy_type").click(function(){
		load("body","template/choice_type.html")
	})
	
	function wecat_pay(){
		$("#wecat_pay").on("touchstart",function(){
			diapear();
			$("body").load("template/wecat_password.html");	
		});
	};
	
	function diapear(){
			$(".motai").css("display","none");
			$(".pay").slideUp();
		
	};
	function pay(){//定义支付弹出窗口函数
		
		$(".cancel")[0].addEventListener("touchstart",diapear,false);
		var btnLeft=$(".btnLeft")[0];
		var btnRight=$(".btnRight")[0];
		
		btnLeft.addEventListener("touchstart",paying,false);
		btnRight.addEventListener("touchstart",paying,false);
		
		function paying(){
			if($(this).text()=="微信聊天"){
				$(".to_pay p").eq(0).text("添加导游微信需支付￥2.00元");
			}else{
				$(".to_pay p").eq(0).text("添加导游电话需支付￥2.00元");
			
			};
			$(".motai").css("display","block");
			$(".pay").slideDown();
		};
	};
	
	
	//轮播图--------------
	function banner(){
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true
		});
	};

	//五星好评--------------------------------------

	function star(){
		
		$(".evaluate dl").each(function(){//让每一个dl的dd绑定被 触摸事件
			$(this).find("dd").on("touchstart",function(){
				var curent=$(this);//记录下被触摸的对象
				$(this).parent().find("dd").removeClass();//让所在那一行的每个星星都是默认的样式
				$(this).parent().find("dd").each(function(i){
					$(this).removeClass().addClass("selected");//开始让每一个星星都换背景图
					if($(this).is(curent)){
						return false;
					};
				});	
			});
		});
	};
	//详情页轮播图--------------------------------
	
function loadBigPic(){
	//找到轮播图的父级容器，并监听三个事件，分别为触摸开始，触摸时移动，触摸结束
	var wrapper=document.getElementsByClassName("swiper-wrapper")[0]
	wrapper.addEventListener("touchstart", _touchS, false);
	wrapper.addEventListener("touchmove", _touchM, false);
	wrapper.addEventListener("touchend", _touchE, false);
	
	//声明变量，函数里把触摸点的起始坐标和结束坐标赋值给相应的变量
	var star_clientY="";
	var star_clientX="";
	var last_clientY="";
	var last_clientX="";
	
	//用来获得起始触摸坐标
	function _touchS(ev){
	  if(ev.touches.length==1){ 
		 star_clientY=ev.touches[0].clientY;
		 star_clientX=ev.touches[0].clientX;
		
	  };
		
	};
	//用来获得结束触摸坐标
	function _touchM(ev){
		if(ev.touches.length==1){ 
		last_clientY=ev.touches[0].clientY;
		 last_clientX=ev.touches[0].clientX;
	  }
		
	}
	//用来判断是横向还是纵向移动
	function _touchE(ev){
		
		if(ev.touches.length==0){ 
		var disX=last_clientX-star_clientX;
		var disY=last_clientY-star_clientY;
		
		if(Math.abs(disX)>Math.abs(disY)){//当x轴偏移量大于y轴偏移量，则判断为横向移动，否则为纵向移动
			 console.log("横向");
			return;
		}else{
			$("body").load("template/big_pic.html")//纵向移动则加载大图的模块；
		   console.log("纵向");
		}
	  }
	}
}
    </script>
	<style>
	
	body{padding:0;position: relative;}
	.swiper-container{height:8rem; margin-bottom: 0.15rem;}
	</style>
