<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>找导游</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
  </head>
	<body>
		 <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src='../images/detail11.png'></div>
            <div class="swiper-slide"><img src='../images/detail12.png'></div>
            <div class="swiper-slide"><img src='../images/detail13.png'></div>
            <div class="swiper-slide"><img src='../images/detail14.png'></div>
           
        </div>
         <div class="select"><img src="../images/remove.png"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        
    </div>
	
	
    <script src="../js/swiper.min.js"></script>
	
	<!-- 引入 jQuery Mobile 库 -->

    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
	
	
	loadBigPic();
	
function loadBigPic(){
	//找到轮播图的父级容器，并监听三个事件，分别为触摸开始，触摸时移动，触摸结束
	var wrapper=document.getElementsByClassName("swiper-wrapper")[0]
	wrapper.addEventListener("touchstart", _touchS, false);
	wrapper.addEventListener("touchmove", _touchM, false);
	wrapper.addEventListener("touchend", _touchE, false);
	
	//声明变量，函数里把触摸点的起始坐标和结束坐标赋值给相应的变量
	var star_clientY="";
	var star_clientX="";
	var last_clientY="";
	var last_clientX="";
	
	//用来获得起始触摸坐标
	function _touchS(ev){
	  if(ev.touches.length==1){ 
		 star_clientY=ev.touches[0].clientY;
		 star_clientX=ev.touches[0].clientX;
	  }
	}
	//用来获得结束触摸坐标
	function _touchM(ev){
		if(ev.touches.length==1){ 
		last_clientY=ev.touches[0].clientY;
		 last_clientX=ev.touches[0].clientX;
	  }
		
	}
	//用来判断是横向还是纵向移动
	function _touchE(ev){
		
		if(ev.touches.length==0){ 
		var disX=last_clientX-star_clientX;
		var disY=last_clientY-star_clientY;
		
		if(Math.abs(disX)>Math.abs(disY)){//当x轴偏移量大于y轴偏移量，则判断为横向移动，否则为纵向移动
			 console.log("横向");
			return;
		}else{
			$("body").load("detail.html")//纵向移动则加载大图的模块；
				$(location).attr("href","detail.html")
		   console.log("纵向");
		}
	  }
	}
}
    </script>
	<style>
		body{padding:0;}
		.swiper-wrapper{position:relative;}
		.select{ z-index: 8; position:absolute; width:0.5rem;heigth:0.6rem;top:0.55rem;right:0.27rem;}
		.select img {width:0.5rem;heigth:0.6rem;}
		.swiper-container{height:100vh;position:relative;}
		
	</style>


	</body>
</html>




