<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>找导游</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	
  </head>
	<body>
			
				<form class="enter_password">
			<input class="box" maxlength='1' type="password">
			<input class="box" maxlength='1' type="password">
			<input class="box" maxlength='1' type="password">
			<input class="box" maxlength='1' type="password">
		</form>
		<div class="text">请输入微信支付密码</div>
<style>

body{
 background: #f5f5f5;
}

</style>
<script src='../js/jquery-3.1.0.js'></script>
<script src='../js/index.js'></script>	
<script type="text/javascript">


$(function(){
	$(".box").eq(0).val("")
	$(".box").eq(0).focus();
	

	
	

	//窗口适配
	window.onresize=function(){
		var _width=document.documentElement.clientWidth || document.body.clientWidth;
		document.documentElement.style.fontSize=_width/750*100+'px';
	};

	
})	
</script>
	</body>
</html>


